In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
# Importing a CSV file.
ds = pd.read_csv('Groceries_dataset.csv')
ds.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [3]:
ds.info()  # Information about the DataFrame like DataTypes
ds.isnull().sum() # Number of all null cells in a columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [4]:
#changing the datatype of date from object to date-time
ds['Date']= pd.to_datetime(ds['Date'],infer_datetime_format=True)
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  datetime64[ns]
 2   itemDescription  38765 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 908.7+ KB

In [5]:
#removing all duplicate entries
ds = ds.drop_duplicates()

In [6]:
#Grouping the data by member number and date.
#The resulting dataframe will give us all items bought by a customer on a specific day. 
f_data = ds.groupby(['Member_number','Date']).agg({'itemDescription': lambda x: ','.join(x)}).reset_index()
f_data.head(10)

   Member_number       Date                                itemDescription
0           1000 2014-06-24                  whole milk,pastry,salty snack
1           1000 2015-03-15  sausage,whole milk,semi-finished bread,yogurt
2           1000 2015-05-27                        soda,pickled vegetables
3           1000 2015-07-24                    canned beer,misc. beverages
4           1000 2015-11-25                       sausage,hygiene articles
5           1001 2014-02-07                  sausage,whole milk,rolls/buns
6           1001 2014-12-12                                whole milk,soda
7           1001 2015-01-20            frankfurter,soda,whipped/sour cream
8           1001 2015-04-14                               beef,white bread
9           1001 2015-05-02                               frankfurter,curd

In [7]:
#converting the dataframe to a list
transaction = []
for row in range(0,len(f_data)):
    transaction.append(f_data['itemDescription'][row].split(','))
    
transaction[:4]  # printing first four transaction

[['whole milk', 'pastry', 'salty snack'],
 ['sausage', 'whole milk', 'semi-finished bread', 'yogurt'],
 ['soda', 'pickled vegetables'],
 ['canned beer', 'misc. beverages']]

In [8]:
#Using TransactionEncoder to convert "transcations" to a binary matrix representaion.
#TransactionEncoder is a function of mlxtend
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
df = pd.DataFrame(te_ary,columns=te.columns_)
df.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
# The binary matrix is used as input in apriori and association rules
# minimum Support will be set to 0.001
frequent_items = apriori(df,min_support=0.001,use_colnames=True)
rules = association_rules(frequent_items,metric="lift")
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(UHT-milk),(bottled water),0.021386,0.060683,0.001069,0.050000,0.823954,-0.000228,0.988755,-0.179204
1,(bottled water),(UHT-milk),0.060683,0.021386,0.001069,0.017621,0.823954,-0.000228,0.996168,-0.185312
2,(UHT-milk),(other vegetables),0.021386,0.122101,0.002139,0.100000,0.818993,-0.000473,0.975443,-0.184234
3,(other vegetables),(UHT-milk),0.122101,0.021386,0.002139,0.017515,0.818993,-0.000473,0.996060,-0.201119
4,(sausage),(UHT-milk),0.060349,0.021386,0.001136,0.018826,0.880298,-0.000154,0.997391,-0.126418

The Antecedents and Consequents columns show items that are frequently purchased together.

To get the most frequent item combinations in the entire dataset we sort the dataset by support, confidence, and lift.

In [10]:
rules.sort_values(["support", "confidence","lift"],axis = 0, ascending = False)
rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(UHT-milk),(bottled water),0.021386,0.060683,0.001069,0.050000,0.823954,-2.284679e-04,0.988755,-0.179204
1,(bottled water),(UHT-milk),0.060683,0.021386,0.001069,0.017621,0.823954,-2.284679e-04,0.996168,-0.185312
2,(UHT-milk),(other vegetables),0.021386,0.122101,0.002139,0.100000,0.818993,-4.726578e-04,0.975443,-0.184234
3,(other vegetables),(UHT-milk),0.122101,0.021386,0.002139,0.017515,0.818993,-4.726578e-04,0.996060,-0.201119
4,(sausage),(UHT-milk),0.060349,0.021386,0.001136,0.018826,0.880298,-1.544901e-04,0.997391,-0.126418
5,(UHT-milk),(sausage),0.021386,0.060349,0.001136,0.053125,0.880298,-1.544901e-04,0.992371,-0.121998
6,(UHT-milk),(tropical fruit),0.021386,0.067767,0.001537,0.071875,1.060617,8.785064e-05,1.004426,0.058402
7,(tropical fruit),(UHT-milk),0.067767,0.021386,0.001537,0.022682,1.060617,8.785064e-05,1.001326,0.061307
8,(beef),(brown bread),0.033950,0.037626,0.001537,0.045276,1.203301,2.597018e-04,1.008012,0.174891
9,(brown bread),(beef),0.037626,0.033950,0.001537,0.040853,1.203301,2.597018e-04,1.007196,0.175559
10,(beef),(butter),0.033950,0.035220,0.001136,0.033465,0.950152,-5.960480e-05,0.998184,-0.051509
11,(butter),(beef),0.035220,0.033950,0.001136,0.032258,0.950152,-5.960480e-05,0.998251,-0.051573
12,(citrus fruit),(beef),0.053131,0.033950,0.001804,0.033962,1.000349,6.297697e-07,1.000012,0.000369
13,(beef),(citrus fruit),0.033950,0.053131,0.001804,0.053150,1.000349,6.297697e-07,1.000020,0.000361
14,(beef),(curd),0.033950,0.033683,0.001270,0.037402,1.110396,1.262443e-04,1.003863,0.102915
15,(curd),(beef),0.033683,0.033950,0.001270,0.037698,1.110396,1.262443e-04,1.003895,0.102886
16,(beef),(domestic eggs),0.033950,0.037091,0.001136,0.033465,0.902217,-1.231356e-04,0.996247,-0.100873
17,(domestic eggs),(beef),0.037091,0.033950,0.001136,0.030631,0.902217,-1.231356e-04,0.996575,-0.101169
18,(frozen vegetables),(beef),0.028002,0.033950,0.001270,0.045346,1.335656,3.191056e-04,1.011937,0.258544
19,(beef),(frozen vegetables),0.033950,0.028002,0.001270,0.037402,1.335656,3.191056e-04,1.009764,0.260136

The above output gives the set of most popular items that were bought together.

In [11]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(UHT-milk),(bottled water),0.021386,0.060683,0.001069,0.050000,0.823954,-0.000228,0.988755,-0.179204
1,(bottled water),(UHT-milk),0.060683,0.021386,0.001069,0.017621,0.823954,-0.000228,0.996168,-0.185312
2,(UHT-milk),(other vegetables),0.021386,0.122101,0.002139,0.100000,0.818993,-0.000473,0.975443,-0.184234
3,(other vegetables),(UHT-milk),0.122101,0.021386,0.002139,0.017515,0.818993,-0.000473,0.996060,-0.201119
4,(sausage),(UHT-milk),0.060349,0.021386,0.001136,0.018826,0.880298,-0.000154,0.997391,-0.126418
...,...,...,...,...,...,...,...,...,...,...
729,"(sausage, yogurt)",(whole milk),0.005748,0.157923,0.001470,0.255814,1.619866,0.000563,1.131541,0.384877
730,"(whole milk, yogurt)",(sausage),0.011161,0.060349,0.001470,0.131737,2.182917,0.000797,1.082219,0.548014
731,(sausage),"(whole milk, yogurt)",0.060349,0.011161,0.001470,0.024363,2.182917,0.000797,1.013532,0.576701
732,(whole milk),"(sausage, yogurt)",0.157923,0.005748,0.001470,0.009310,1.619866,0.000563,1.003596,0.454430
733,(yogurt),"(sausage, whole milk)",0.085879,0.008955,0.001470,0.017121,1.911760,0.000701,1.008307,0.521727